{
  "env": {
    "browser": true,
    "jquery": false,
    "es6": true
  },
  "globals": {
    "chayns": true,
    "__DEV__": true,
    "__STAGING__": true,
    "__LIVE__": true
  },
  "parser": "babel-eslint",
  "rules": {
    "max-len": "off",
    "linebreak-style": "off",
    "indent": ["error", 4, {
      "SwitchCase": 1
    }],
    "strict": 0,
    "comma-dangle": ["error", "never"],
    "import/no-extraneous-dependencies": ["error", {
      "devDependencies": true
    }],
    "react/jsx-tag-spacing": ["error", {
      "beforeSelfClosing": "allow"
    }],
    "react/jsx-indent": "off",
    "react/jsx-indent-props": "off"
  },
  "extends": "airbnb",
  "settings": {
    "import/resolver": {
      "webpack": "base-config.js"
    }
  }
}